<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/h_consommit</property>
        <property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">jisassnx</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping resource="com/hc/model/Compte.hbm.xml"/>
        <mapping resource="com/hc/model/AleatoireEau.hbm.xml"/>       
        <mapping resource="com/hc/model/MensuelleEau.hbm.xml"/>        
        <mapping resource="com/hc/model/Keys.hbm.xml"/>
        <mapping resource="com/hc/model/TrancheAssainissementEau.hbm.xml"/>
        <mapping resource="com/hc/model/TrancheTarifEau.hbm.xml"/>
        <mapping resource="com/hc/model/AleatoireElec.hbm.xml"/>
        <mapping resource="com/hc/model/MensuelleElec.hbm.xml"/>   
        <mapping resource="com/hc/model/TrancheTarifElec.hbm.xml"/>
        
        
        
    </session-factory>
</hibernate-configuration>
